
@using MySite.Pages.LandingPages.Swipers


<!-- CONTENT -->
<section id="content">
    <div class="content-wrap">
        <div class="container pb-lg-5">
            <div class="row align-items-center justify-content-between col-mb-30">
                <div class="col-lg-7">
                    <h2 class="display-3 fw-bold text-white">Buy &amp; Sell your Digital Currency in our <span class="gradient-text gradient-color">NFT Marketplace</span>.</h2>
                    <p class="op-07 lead mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolorem, unde molestias, tenetur fuga odio in.</p>
                    <div class="clear"></div>
                    <a href="https://khizooo.com" class="button button-large gradient-color rounded-5 border-0">Explore Now</a>
                </div>
                <div class="col-lg-auto pe-lg-6 pt-5">

                   <Arts_Swiper />

                </div>
            </div>
            <div class="row align-items-lg-center g-4 client-logos">
                <div class="text-center col-6 col-md-2 flex-fill"><img class="card-bg-dark px-4 w-100" src="LandingPage/img/coinbase.svg" alt="Clients" height="100"></div>
                <div class="text-center col-6 col-md-2 flex-fill"><img class="card-bg-dark px-4 w-100" src="LandingPage/img/binance.svg" alt="Clients" height="100"></div>
                <div class="text-center col-6 col-md-2 flex-fill"><img class="card-bg-dark px-4 w-100" src="LandingPage/img/opensea.svg" alt="Clients" height="100"></div>
                <div class="text-center col-6 col-md-2 flex-fill"><img class="card-bg-dark px-4 w-100" src="LandingPage/img/metamask.svg" alt="Clients" height="100"></div>
                <div class="text-center col-6 col-md-2 flex-fill"><img class="card-bg-dark px-4 w-100" src="LandingPage/img/bitgo.svg" alt="Clients" height="100"></div>
                <div class="text-center col-6 col-md-2 flex-fill"><img class="card-bg-dark px-4 w-100" src="LandingPage/img/coindcx.svg" alt="Clients" height="100"></div>
            </div>
        </div>
        <div class="clear line"></div>
        <div class="container pt-lg-5">
            <div class="row g-4">
                <div class="col-12 text-center">
                    <div class="text-uppercase color ls-3 fw-bold mb-2">Our Marketplace</div>
                    <h2 class="display-5 fw-bold">Popular Drops</h2>
                </div>
                <div class="col-12">
                    <div class="grid-filter-wrap">

                        <ul class="grid-filter style-2 mx-auto mb-0" data-container="#nft-products">
                            <li class="activeFilter mx-1"><a href="https://khizooo.com" class="rounded-6" data-filter="*">Show All</a></li>
                            <li><a href="https://khizooo.com" class="rounded-6 mx-1" data-filter=".nft-icons">Icons</a></li>
                            <li><a href="https://khizooo.com" class="rounded-6 mx-1" data-filter=".nft-illustrations">Illustrations</a></li>
                            <li><a href="https://khizooo.com" class="rounded-6 mx-1" data-filter=".nft-uielements">UI Elements</a></li>
                            <li><a href="https://khizooo.com" class="rounded-6 mx-1" data-filter=".nft-media">Media</a></li>
                            <li><a href="https://khizooo.com" class="rounded-6 mx-1" data-filter=".nft-graphics">Graphics</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-12">
                    <div id="nft-products" class="row grid-container g-4 has-init-isotope grid-container-filterable" data-layout="fitRows" style="position: relative; height: 977.188px;">
                        <article class="col-xl-3 col-lg-4 col-sm-6 col-12 nft-media nft-graphics" style="position: absolute; left: 0%; top: 0px;">
                            <div class="card rounded-6 overflow-hidden card-bg-dark">
                                <div class="card-body p-4">
                                    <div class="mb-4 position-relative">
                                        <img src="LandingPage/img/1.jpg" class="rounded-5" alt="...">
                                        <div id="nft-counter1" class="nft-counter countdown countdown-inline customjs position-absolute start-0 top-0 is-countdown" data-year="2024" data-month="3" data-day="22" data-format="dHMS"><span class="countdown-row countdown-amount">22d 00:20:26</span></div>
                                        <div class="bbp-author position-absolute start-0 bottom-0 w-100">
                                            <a href="https://khizooo.com"><img alt="User" src="LandingPage/img/3.jpg"></a>
                                            <a href="https://khizooo.com"><img alt="User" src="LandingPage/img/2.jpg"></a>
                                            <a href="https://khizooo.com"><img alt="User" src="LandingPage/img/user.png"></a>
                                        </div>
                                    </div>
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <h4 class="mb-2">Live in Heaven</h4>
                                            <h6 class="card-subtitle mb-2 text-white-50">steavejosh</h6>
                                            <div class="color fw-bold">2.33 ETH <span class="text-light text-opacity-50">/ $13.33</span></div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="dropdown">
                                                <button class="btn btn-secondary btn-sm rounded-circle bg-transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi-share text-light text-opacity-50"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Facebook</a></li>
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Whatsapp</a></li>
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Email</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="https://khizooo.com" class="card-footer-btn text-center gradient-color fw-medium text-light h-op-09">
                                    Place a Bid
                                </a>
                            </div>
                        </article>
                        <article class="col-xl-3 col-lg-4 col-sm-6 col-12 nft-illustrations nft-icons" style="position: absolute; left: 25%; top: 0px;">
                            <div class="card rounded-6 overflow-hidden card-bg-dark">
                                <div class="card-body p-4">
                                    <div class="mb-4 position-relative">
                                        <img src="LandingPage/img/2(1).jpg" class="rounded-5" alt="...">
                                        <div class="bbp-author position-absolute start-0 bottom-0 w-100">
                                            <a href="https://khizooo.com"><img alt="User" src="LandingPage/img/3.jpg"></a>
                                            <a href="https://khizooo.com"><img alt="User" src="LandingPage/img/user.png"></a>
                                        </div>
                                    </div>
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <h4 class="mb-2">Hipster portrait animal</h4>
                                            <h6 class="card-subtitle mb-2 text-white-50">alexPoint</h6>
                                            <div class="color fw-bold">9.33 ETH <span class="text-light text-opacity-50">/ $19.98</span></div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="dropdown">
                                                <button class="btn btn-secondary btn-sm rounded-circle bg-transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi-share text-light text-opacity-50"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Facebook</a></li>
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Whatsapp</a></li>
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Email</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="https://khizooo.com" class="card-footer-btn text-center gradient-color fw-medium text-light h-op-09">
                                    Place a Bid
                                </a>
                            </div>
                        </article>
                        <article class="col-xl-3 col-lg-4 col-sm-6 col-12 nft-media" style="position: absolute; left: 50%; top: 0px;">
                            <div class="card rounded-6 overflow-hidden card-bg-dark">
                                <div class="card-body p-4">
                                    <div class="mb-4 position-relative">
                                        <img src="LandingPage/img/3(1).jpg" class="rounded-5" alt="...">
                                    </div>
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <h4 class="mb-2">Hipster portrait man</h4>
                                            <h6 class="card-subtitle mb-2 text-white-50">alexPoint</h6>
                                            <div class="color fw-bold">12.33 ETH <span class="text-light text-opacity-50">/ $19.98</span></div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="dropdown">
                                                <button class="btn btn-secondary btn-sm rounded-circle bg-transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi-share text-light text-opacity-50"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Facebook</a></li>
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Whatsapp</a></li>
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Email</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="https://khizooo.com" class="card-footer-btn text-center gradient-color fw-medium text-light h-op-09">
                                    Place a Bid
                                </a>
                            </div>
                        </article>
                        <article class="col-xl-3 col-lg-4 col-sm-6 col-12 nft-uielements nft-icons" style="position: absolute; left: 75%; top: 0px;">
                            <div class="card rounded-6 overflow-hidden card-bg-dark">
                                <div class="card-body p-4">
                                    <div class="mb-4 position-relative">
                                        <img src="LandingPage/img/4.jpg" class="rounded-5" alt="...">
                                        <div class="bbp-author position-absolute start-0 bottom-0 w-100">
                                            <a href="https://khizooo.com"><img alt="User" src="LandingPage/img/3.jpg"></a>
                                            <a href="https://khizooo.com"><img alt="User" src="LandingPage/img/2.jpg"></a>
                                            <a href="https://khizooo.com"><img alt="User" src="LandingPage/img/user.png"></a>
                                        </div>
                                    </div>
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <h4 class="mb-2">Portrait of a woman</h4>
                                            <h6 class="card-subtitle mb-2 text-white-50">alexPoint</h6>
                                            <div class="color fw-bold">3.33 ETH <span class="text-light text-opacity-50">/ $11.98</span></div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="dropdown">
                                                <button class="btn btn-secondary btn-sm rounded-circle bg-transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi-share text-light text-opacity-50"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Facebook</a></li>
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Whatsapp</a></li>
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Email</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="https://khizooo.com" class="card-footer-btn text-center gradient-color fw-medium text-light h-op-09">
                                    Place a Bid
                                </a>
                            </div>
                        </article>
                        <article class="col-xl-3 col-lg-4 col-sm-6 col-12 nft-illustrations nft-graphics" style="position: absolute; left: 0%; top: 488.594px;">
                            <div class="card rounded-6 overflow-hidden card-bg-dark">
                                <div class="card-body p-4">
                                    <div class="mb-4 position-relative">
                                        <img src="LandingPage/img/5.jpg" class="rounded-5" alt="...">
                                        <div class="bbp-author position-absolute start-0 bottom-0 w-100">
                                            <a href="https://khizooo.com"><img alt="User" src="LandingPage/img/3.jpg"></a>
                                            <a href="https://khizooo.com"><img alt="User" src="LandingPage/img/2.jpg"></a>
                                            <a href="https://khizooo.com"><img alt="User" src="LandingPage/img/user.png"></a>
                                        </div>
                                    </div>
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <h4 class="mb-2">Live in Heaven</h4>
                                            <h6 class="card-subtitle mb-2 text-white-50">steavejosh</h6>
                                            <div class="color fw-bold">2.33 ETH <span class="text-light text-opacity-50">/ $13.33</span></div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="dropdown">
                                                <button class="btn btn-secondary btn-sm rounded-circle bg-transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi-share text-light text-opacity-50"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Facebook</a></li>
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Whatsapp</a></li>
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Email</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="https://khizooo.com" class="card-footer-btn text-center gradient-color fw-medium text-light h-op-09">
                                    Place a Bid
                                </a>
                            </div>
                        </article>
                        <article class="col-xl-3 col-lg-4 col-sm-6 col-12 nft-graphics nft-uielements" style="position: absolute; left: 25%; top: 488.594px;">
                            <div class="card rounded-6 overflow-hidden card-bg-dark">
                                <div class="card-body p-4">
                                    <div class="mb-4 position-relative">
                                        <img src="LandingPage/img/6.jpg" class="rounded-5" alt="...">
                                        <div id="nft-counter2" class="nft-counter countdown countdown-inline customjs position-absolute start-0 top-0 is-countdown" data-year="2024" data-month="3" data-day="22" data-format="dHMS"><span class="countdown-row countdown-amount">22d 00:20:26</span></div>
                                        <div class="bbp-author position-absolute start-0 bottom-0 w-100">
                                            <a href="https://khizooo.com"><img alt="User" src="LandingPage/img/3.jpg"></a>
                                            <a href="https://khizooo.com"><img alt="User" src="LandingPage/img/user.png"></a>
                                        </div>
                                    </div>
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <h4 class="mb-2">Hipster portrait animal</h4>
                                            <h6 class="card-subtitle mb-2 text-white-50">alexPoint</h6>
                                            <div class="color fw-bold">9.33 ETH <span class="text-light text-opacity-50">/ $19.98</span></div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="dropdown">
                                                <button class="btn btn-secondary btn-sm rounded-circle bg-transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi-share text-light text-opacity-50"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Facebook</a></li>
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Whatsapp</a></li>
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Email</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="https://khizooo.com" class="card-footer-btn text-center gradient-color fw-medium text-light h-op-09">
                                    Place a Bid
                                </a>
                            </div>
                        </article>
                        <article class="col-xl-3 col-lg-4 col-sm-6 col-12 nft-media nft-icons" style="position: absolute; left: 50%; top: 488.594px;">
                            <div class="card rounded-6 overflow-hidden card-bg-dark">
                                <div class="card-body p-4">
                                    <div class="mb-4 position-relative">
                                        <img src="LandingPage/img/7.jpg" class="rounded-5" alt="...">
                                    </div>
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <h4 class="mb-2">Hipster portrait man</h4>
                                            <h6 class="card-subtitle mb-2 text-white-50">alexPoint</h6>
                                            <div class="color fw-bold">12.33 ETH <span class="text-light text-opacity-50">/ $19.98</span></div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="dropdown">
                                                <button class="btn btn-secondary btn-sm rounded-circle bg-transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi-share text-light text-opacity-50"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Facebook</a></li>
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Whatsapp</a></li>
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Email</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="https://khizooo.com" class="card-footer-btn text-center gradient-color fw-medium text-light h-op-09">
                                    Place a Bid
                                </a>
                            </div>
                        </article>
                        <article class="col-xl-3 col-lg-4 col-sm-6 col-12 nft-graphics nft-illustrations" style="position: absolute; left: 75%; top: 488.594px;">
                            <div class="card rounded-6 overflow-hidden card-bg-dark">
                                <div class="card-body p-4">
                                    <div class="mb-4 position-relative">
                                        <img src="LandingPage/img/8.jpg" class="rounded-5" alt="...">
                                        <div class="bbp-author position-absolute start-0 bottom-0 w-100">
                                            <a href="https://khizooo.com"><img alt="User" src="LandingPage/img/3.jpg"></a>
                                            <a href="https://khizooo.com"><img alt="User" src="LandingPage/img/2.jpg"></a>
                                            <a href="https://khizooo.com"><img alt="User" src="LandingPage/img/user.png"></a>
                                        </div>
                                    </div>
                                    <div class="row justify-content-between">
                                        <div class="col">
                                            <h4 class="mb-2">Portrait of a woman</h4>
                                            <h6 class="card-subtitle mb-2 text-white-50">alexPoint</h6>
                                            <div class="color fw-bold">3.33 ETH <span class="text-light text-opacity-50">/ $11.98</span></div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="dropdown">
                                                <button class="btn btn-secondary btn-sm rounded-circle bg-transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi-share text-light text-opacity-50"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Facebook</a></li>
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Whatsapp</a></li>
                                                    <li><a class="dropdown-item" href="https://khizooo.com">Email</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="https://khizooo.com" class="card-footer-btn text-center gradient-color fw-medium text-light h-op-09">
                                    Place a Bid
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="container py-lg-5">
            <div class="row g-4">
                <div class="col-12 text-center mb-lg-5">
                    <div class="text-uppercase color ls-3 fw-bold mb-2">How to do</div>
                    <h2 class="display-5 fw-bold mb-0">Simple steps to Process</h2>
                </div>
                <div class="clear"></div>
                <div class="col-md-4">
                    <div class="card rounded-6 card-bg-dark text-center">
                        <div class="card-body p-5">
                            <img src="LandingPage/img/1.svg" alt="..." height="150" class="mb-5">
                            <h3 class="text-white mb-3">Create a Free Account</h3>
                            <p class="text-white-50">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium quos ipsam placeat fuga tenetur earum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card rounded-6 card-bg-dark text-center">
                        <div class="card-body p-5">
                            <img src="LandingPage/img/2.png" alt="..." height="150" class="mb-5">
                            <h3 class="text-white mb-3">Manage your wallet</h3>
                            <p class="text-white-50">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium quos ipsam placeat fuga tenetur earum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card rounded-6 card-bg-dark text-center">
                        <div class="card-body p-5">
                            <img src="LandingPage/img/3.svg" alt="..." height="150" class="mb-5">
                            <h3 class="text-white mb-3">Buy/sell coins</h3>
                            <p class="text-white-50">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium quos ipsam placeat fuga tenetur earum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="container py-lg-5">
            <div class="row g-4">
                <div class="col-12 text-lg-center mb-lg-5">
                    <div class="text-uppercase color ls-3 fw-bold mb-2">Top Sellers</div>
                    <div class="hstack align-content-center justify-content-center">
                        <h2 class="display-5 fw-bold mb-0">Top Sellers in</h2>
                        <div class="ms-3">
                            <select class="form-select form-select-lg headeing-select mb-0" aria-label="example">
                                <option value="7 Days" selected="">a 7 Days</option>
                                <option value="1 Month">a month</option>
                                <option value="3 Months">3 Months</option>
                                <option value="Year">a Year</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-4">
                    <div class="card rounded-6 card-bg-dark">
                        <div class="card-body p-4">
                            <div class="row g-3 align-items-center">
                                <div class="col-auto user-rank">#1</div>
                                <div class="col-auto">
                                    <img src="LandingPage/img/1(1).jpg" class="square square-md rounded-6" alt="...">
                                    <span class="position-absolute top-0 mt-1 translate-middle p-2 bg-color border-0 rounded-circle"><span class="visually-hidden">Online</span></span>
                                </div>
                                <div class="col">
                                    <h4 class="mb-0"><a class="text-white" href="https://khizooo.com">Chasseur</a></h4>
                                    <span class="op-07 smalle">2,643 ETH</span>
                                </div>
                                <div class="col-auto">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm rounded-circle bg-transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi-three-dots text-light text-opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="https://khizooo.com">Facebook</a></li>
                                            <li><a class="dropdown-item" href="https://khizooo.com">Whatsapp</a></li>
                                            <li><a class="dropdown-item" href="https://khizooo.com">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card rounded-6 card-bg-dark">
                        <div class="card-body p-4">
                            <div class="row g-3 align-items-center">
                                <div class="col-auto user-rank">#2</div>
                                <div class="col-auto">
                                    <img src="LandingPage/img/2(2).jpg" class="square square-md rounded-6" alt="...">
                                    <span class="position-absolute top-0 mt-1 translate-middle p-2 bg-color border-0 rounded-circle"><span class="visually-hidden">Online</span></span>
                                </div>
                                <div class="col">
                                    <h4 class="mb-0"><a class="text-white" href="https://khizooo.com">Hoydenism_</a></h4>
                                    <span class="op-07 smalle">1,343 ETH</span>
                                </div>
                                <div class="col-auto">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm rounded-circle bg-transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi-three-dots text-light text-opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="https://khizooo.com">Facebook</a></li>
                                            <li><a class="dropdown-item" href="https://khizooo.com">Whatsapp</a></li>
                                            <li><a class="dropdown-item" href="https://khizooo.com">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card rounded-6 card-bg-dark">
                        <div class="card-body p-4">
                            <div class="row g-3 align-items-center">
                                <div class="col-auto user-rank">#3</div>
                                <div class="col-auto">
                                    <img src="LandingPage/img/3(2).jpg" class="square square-md rounded-6" alt="...">
                                    <span class="position-absolute top-0 mt-1 translate-middle p-2 bg-color border-0 rounded-circle"><span class="visually-hidden">Online</span></span>
                                </div>
                                <div class="col">
                                    <h4 class="mb-0"><a class="text-white" href="https://khizooo.com">Raconteur_y</a></h4>
                                    <span class="op-07 smalle">4,087 ETH</span>
                                </div>
                                <div class="col-auto">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm rounded-circle bg-transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi-three-dots text-light text-opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="https://khizooo.com">Facebook</a></li>
                                            <li><a class="dropdown-item" href="https://khizooo.com">Whatsapp</a></li>
                                            <li><a class="dropdown-item" href="https://khizooo.com">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card rounded-6 card-bg-dark">
                        <div class="card-body p-4">
                            <div class="row g-3 align-items-center">
                                <div class="col-auto user-rank">#4</div>
                                <div class="col-auto">
                                    <img src="LandingPage/img/4(1).jpg" class="square square-md rounded-6" alt="...">
                                    <span class="position-absolute top-0 mt-1 translate-middle p-2 bg-color border-0 rounded-circle"><span class="visually-hidden">Online</span></span>
                                </div>
                                <div class="col">
                                    <h4 class="mb-0"><a class="text-white" href="https://khizooo.com">Kumquat</a></h4>
                                    <span class="op-07 smalle">2,741 ETH</span>
                                </div>
                                <div class="col-auto">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm rounded-circle bg-transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi-three-dots text-light text-opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="https://khizooo.com">Facebook</a></li>
                                            <li><a class="dropdown-item" href="https://khizooo.com">Whatsapp</a></li>
                                            <li><a class="dropdown-item" href="https://khizooo.com">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card rounded-6 card-bg-dark">
                        <div class="card-body p-4">
                            <div class="row g-3 align-items-center">
                                <div class="col-auto user-rank">#5</div>
                                <div class="col-auto">
                                    <img src="LandingPage/img/5(1).jpg" class="square square-md rounded-6" alt="...">
                                    <span class="position-absolute top-0 mt-1 translate-middle p-2 bg-color border-0 rounded-circle"><span class="visually-hidden">Online</span></span>
                                </div>
                                <div class="col">
                                    <h4 class="mb-0"><a class="text-white" href="https://khizooo.com">Razzmatazz_z</a></h4>
                                    <span class="op-07 smalle">2,888 ETH</span>
                                </div>
                                <div class="col-auto">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm rounded-circle bg-transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi-three-dots text-light text-opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="https://khizooo.com">Facebook</a></li>
                                            <li><a class="dropdown-item" href="https://khizooo.com">Whatsapp</a></li>
                                            <li><a class="dropdown-item" href="https://khizooo.com">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card rounded-6 card-bg-dark">
                        <div class="card-body p-4">
                            <div class="row g-3 align-items-center">
                                <div class="col-auto user-rank">#6</div>
                                <div class="col-auto">
                                    <img src="LandingPage/img/6(1).jpg" class="square square-md rounded-6" alt="...">
                                    <span class="position-absolute top-0 mt-1 translate-middle p-2 bg-color border-0 rounded-circle"><span class="visually-hidden">Online</span></span>
                                </div>
                                <div class="col">
                                    <h4 class="mb-0"><a class="text-white" href="https://khizooo.com">Zeugma</a></h4>
                                    <span class="op-07 smalle">3,704 ETH</span>
                                </div>
                                <div class="col-auto">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm rounded-circle bg-transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi-three-dots text-light text-opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="https://khizooo.com">Facebook</a></li>
                                            <li><a class="dropdown-item" href="https://khizooo.com">Whatsapp</a></li>
                                            <li><a class="dropdown-item" href="https://khizooo.com">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card rounded-6 card-bg-dark">
                        <div class="card-body p-4">
                            <div class="row g-3 align-items-center">
                                <div class="col-auto user-rank">#7</div>
                                <div class="col-auto">
                                    <img src="LandingPage/img/7(1).jpg" class="square square-md rounded-6" alt="...">
                                    <span class="position-absolute top-0 mt-1 translate-middle p-2 bg-color border-0 rounded-circle"><span class="visually-hidden">Online</span></span>
                                </div>
                                <div class="col">
                                    <h4 class="mb-0"><a class="text-white" href="https://khizooo.com">Sanguine</a></h4>
                                    <span class="op-07 smalle">1,649 ETH</span>
                                </div>
                                <div class="col-auto">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm rounded-circle bg-transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi-three-dots text-light text-opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="https://khizooo.com">Facebook</a></li>
                                            <li><a class="dropdown-item" href="https://khizooo.com">Whatsapp</a></li>
                                            <li><a class="dropdown-item" href="https://khizooo.com">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card rounded-6 card-bg-dark">
                        <div class="card-body p-4">
                            <div class="row g-3 align-items-center">
                                <div class="col-auto user-rank">#8</div>
                                <div class="col-auto">
                                    <img src="LandingPage/img/8(1).jpg" class="square square-md rounded-6" alt="...">
                                    <span class="position-absolute top-0 mt-1 translate-middle p-2 bg-color border-0 rounded-circle"><span class="visually-hidden">Online</span></span>
                                </div>
                                <div class="col">
                                    <h4 class="mb-0"><a class="text-white" href="https://khizooo.com">Portico</a></h4>
                                    <span class="op-07 smalle">3,209 ETH</span>
                                </div>
                                <div class="col-auto">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm rounded-circle bg-transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi-three-dots text-light text-opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="https://khizooo.com">Facebook</a></li>
                                            <li><a class="dropdown-item" href="https://khizooo.com">Whatsapp</a></li>
                                            <li><a class="dropdown-item" href="https://khizooo.com">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card rounded-6 card-bg-dark">
                        <div class="card-body p-4">
                            <div class="row g-3 align-items-center">
                                <div class="col-auto user-rank">#9</div>
                                <div class="col-auto">
                                    <img src="LandingPage/img/9.jpg" class="square square-md rounded-6" alt="...">
                                    <span class="position-absolute top-0 mt-1 translate-middle p-2 bg-color border-0 rounded-circle"><span class="visually-hidden">Online</span></span>
                                </div>
                                <div class="col">
                                    <h4 class="mb-0"><a class="text-white" href="https://khizooo.com">Humbug</a></h4>
                                    <span class="op-07 smalle">2,534 ETH</span>
                                </div>
                                <div class="col-auto">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm rounded-circle bg-transparent" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi-three-dots text-light text-opacity-50"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item" href="https://khizooo.com">Facebook</a></li>
                                            <li><a class="dropdown-item" href="https://khizooo.com">Whatsapp</a></li>
                                            <li><a class="dropdown-item" href="https://khizooo.com">Email</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="container">
            <div class="row justify-content-center text-center py-lg-5">
                <div class="col-md-7">
                    <h3 class="display-5 fw-bold">The way to find Digital Currency</h3>
                    <p class="op-07">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates doloremque repellendus quibusdam atque nam asperiores eius velit repudiandae quisquam voluptatem?</p>
                    <a href="https://khizooo.com" class="button button-large button-large gradient-color rounded-5 border-0 mt-4">Explore Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CONTENT -->


@code {

}

