
<ul class="list-unstyled mt-3 mb-5 about-list">
    <li><a href="/MyWorkFlow/Portfolio" target="_self" title="Technology blogs"><i class="ti-facebook banner-social"></i></a></li>
    <li><a href="/MyWorkFlow/Portfolio" target="_self" title="Technology blogs"><i class="ti-facebook banner-social"></i></a></li>
    <li><a href="/MyWorkFlow/Portfolio" target="_self" title="Technology blogs"><i class="ti-facebook banner-social"></i></a></li>
    <li><a href="/MyWorkFlow/Portfolio" target="_self" title="Technology blogs"><i class="ti-facebook banner-social"></i></a></li>
    <li><a href="/MyWorkFlow/Portfolio" target="_self" title="Technology blogs"><i class="ti-facebook banner-social"></i></a></li>
    <li><a href="/MyWorkFlow/Portfolio" target="_self" title="Technology blogs"><i class="ti-facebook banner-social"></i></a></li>
    <li><a href="/MyWorkFlow/Portfolio" target="_self" title="Technology blogs"><i class="ti-facebook banner-social"></i></a></li>
    <li><a href="/MyWorkFlow/Portfolio" target="_self" title="Technology blogs"><i class="ti-facebook banner-social"></i></a></li>
    <li><a href="/MyWorkFlow/Portfolio" target="_self" title="Technology blogs"><i class="ti-facebook banner-social"></i></a></li>
</ul>

@code {

}