<!-- FOOTER -->
<footer id="footer" class="card-bg-dark border-0">
    <div class="container">

        <div class="footer-widgets-wrap">
            <div class="row col-mb-50">
                <div class="col-lg-8">
                    <div class="row col-mb-50">
                        <div class="col-md-4">
                            <div class="widget">
                                <a href="https://khizooo.com"><img src="LandingPage/img/logo.svg" alt="Canvas Logo" height="100"></a>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam praesentium voluptatibus dolorem under.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget widget_links">
                                <h4>Blogroll</h4>
                                <ul>
                                    <li><a href="https://codex.wordpress.org/">Documentation</a></li>
                                    <li><a href="https://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
                                    <li><a href="https://wordpress.org/extend/plugins/">Plugins</a></li>
                                    <li><a href="https://wordpress.org/support/">Support Forums</a></li>
                                    <li><a href="https://wordpress.org/extend/themes/">Themes</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget widget_links">
                                <h4>Recent Posts</h4>
                                <ul>
                                    <li><a href="https://wordpress.org/support/">Support Forums</a></li>
                                    <li><a href="https://wordpress.org/extend/themes/">Themes</a></li>
                                    <li><a href="https://wordpress.org/news/">Canvas Blog</a></li>
                                    <li><a href="https://planet.wordpress.org/">Canvas Planet</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row col-mb-50">
                        <div class="col-md-5 col-lg-12">
                            <div class="widget subscribe-widget">
                                <h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
                                <div class="widget-subscribe-form-result"></div>
                                <form id="widget-subscribe-form" action="https://khizooo.cominclude/subscribe.php" method="post" class="mb-0" novalidate="novalidate">
                                    <div class="input-group input-group-footer mx-auto">
                                        <div class="input-group-text text-light"><i class="bi-send"></i></div>
                                        <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
                                        <button class="btn gradient-color text-light" type="submit">Subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-12">
                            <div class="widget">
                                <div class="row col-mb-30">
                                    <div class="col-6 col-md-12 col-lg-6 d-flex align-items-center">
                                        <a href="https://khizooo.com" class="social-icon text-white border-transparent bg-facebook me-2 mb-0 float-none">
                                            <i class="fa-brands fa-facebook-f"></i>
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </a>
                                        <a href="https://khizooo.com" class="ms-1"><small class="d-block"><strong>Like Us</strong><br>on Facebook</small></a>
                                    </div>
                                    <div class="col-6 col-md-12 col-lg-6 d-flex align-items-center">
                                        <a href="https://khizooo.com" class="social-icon text-white border-transparent bg-rss me-2 mb-0 float-none">
                                            <i class="fa-solid fa-rss"></i>
                                            <i class="fa-solid fa-rss"></i>
                                        </a>
                                        <a href="https://khizooo.com" class="ms-1"><small class="d-block"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="copyrights">
        <div class="container">
            <div class="row col-mb-30">
                <div class="col-md-6 text-center text-md-start">
                    Copyrights © 2023 All Rights Reserved by Canvas Inc.<br>
                    <div class="copyright-links"><a href="https://khizooo.com">Terms of Use</a> / <a href="https://khizooo.com">Privacy Policy</a></div>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="d-flex justify-content-center justify-content-md-end">
                        <a href="https://khizooo.com" class="social-icon si-small border-transparent h-bg-facebook">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a href="https://khizooo.com" class="social-icon si-small border-transparent h-bg-twitter">
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="https://khizooo.com" class="social-icon si-small border-transparent h-bg-google">
                            <i class="fa-brands fa-google"></i>
                            <i class="fa-brands fa-google"></i>
                        </a>
                        <a href="https://khizooo.com" class="social-icon si-small border-transparent h-bg-pinterest">
                            <i class="fa-brands fa-pinterest-p"></i>
                            <i class="fa-brands fa-pinterest-p"></i>
                        </a>
                        <a href="https://khizooo.com" class="social-icon si-small border-transparent h-bg-vimeo">
                            <i class="fa-brands fa-vimeo-v"></i>
                            <i class="fa-brands fa-vimeo-v"></i>
                        </a>
                        <a href="https://khizooo.com" class="social-icon si-small border-transparent h-bg-github">
                            <i class="fa-brands fa-github"></i>
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="https://khizooo.com" class="social-icon si-small border-transparent h-bg-yahoo">
                            <i class="fa-brands fa-yahoo"></i>
                            <i class="fa-brands fa-yahoo"></i>
                        </a>
                        <a href="https://khizooo.com" class="social-icon si-small border-transparent h-bg-linkedin">
                            <i class="fa-brands fa-linkedin"></i>
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="clear"></div>
                    <i class="bi-envelope"></i> infocanvas.com <span class="middot">·</span> <i class="fa-solid fa-phone"></i> +1-11-6541-6369 <span class="middot">·</span> <i class="bi-skype"></i> CanvasOnSkype
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER -->

@code {

}