 <!-- HEADER -->
<header id="header" class="dark header-size-md floating-nft-header" data-sticky-shrink="false">
    <div id="header-wrap" class="border-0">
        <div class="container">
            <div class="header-row top-search-parent">

                <!-- LOGO -->
                <div id="logo" class="me-5">
                    <a href="https://khizooo.com"><img src="LandingPage/img/logo.svg" alt="Canvas Logo" class="py-3"></a>
                </div>
                <!-- LOGO -->
                <!-- Social Icons & Notifications -->
                <div class="header-misc ms-auto">
                    <div class="header-misc ms-0">
                        <a href="https://khizooo.com" class="button border-0 bg-gradient gradient-color rounded-6 button-small m-0 ms-lg-4 me-lg-3 d-none d-md-block">Connect Wallet</a>
                        <div class="header-misc-icon">
                            <a href="javascript:void(0);" class="header-icon-notification">
                                New Updates
                                <i class="bi-bell text-light text-opacity-75"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge gradient-color rounded-circle">5<span class="visually-hidden">unread messages</span></span>
                            </a>
                        </div>

                        <div class="header-misc-icon">
                            <a href="javascript:void(0);" class="header-icon-notification">
                                <i class="bi-sun-fill text-light text-opacity-75"></i>
                            </a>
                        </div>
                        <div class="header-misc-icon">
                            <a href="javascript:void(0);" class="header-icon-notification">
                                <i class="bi-sun-fill text-light text-opacity-75"></i>
                            </a>
                        </div>
                        <div class="header-misc-icon">
                            <a href="javascript:void(0);" class="header-icon-notification">
                                <i class="bi-sun-fill text-light text-opacity-75"></i>
                            </a>
                        </div>
                        <div class="header-misc-icon">
                            <a href="javascript:void(0);" class="header-icon-notification">
                                <i class="bi-sun-fill text-light text-opacity-75"></i>
                            </a>
                        </div>
                        <div class="header-misc-icon">
                            <a href="javascript:void(0);" class="header-icon-notification">
                                <i class="bi-sun-fill text-light text-opacity-75"></i>
                            </a>
                        </div>
                        <div class="header-misc-icon">
                            <a href="javascript:void(0);" class="header-icon-notification">
                                <i class="bi-sun-fill text-light text-opacity-75"></i>
                            </a>
                        </div>
                        <div class="header-misc-icon">
                            <a href="javascript:void(0);" class="header-icon-notification">
                                <i class="bi-sun-fill text-light text-opacity-75"></i>
                            </a>
                        </div>

                    </div>

                </div>
                <!-- Social Icons & Notifications -->
                <!-- Mobile Menu -->
                <div class="primary-menu-trigger">
                    <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
                        <span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
                    </button>
                </div>
                <!-- Mobile Menu -->
                <!-- Header Links -->
                <nav class="primary-menu with-arrows">
                    <ul class="menu-container">
                        <li class="menu-item current">
                            <a class="menu-link" href="https://khizooo.com">
                                <div>Home</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="https://khizooo.com">
                                <div>Art</div>
                            </a>
                        </li>
                        <li class="menu-item sub-menu">
                            <a class="menu-link" href="javascript:void(0);">
                                <div>Tech<i class="sub-menu-indicator fa-solid fa-caret-down"></i></div>
                            </a>
                            <ul class="sub-menu-container" style="">
                                <li class="menu-item current" style="">
                                    <a class="menu-link" href="https://khizooo.com">
                                        <div>Blockchain</div>
                                    </a>
                                </li>
                                <li class="menu-item" style="">
                                    <a class="menu-link" href="https://khizooo.com">
                                        <div>.Net</div>
                                    </a>
                                </li>
                                <li class="menu-item" style="">
                                    <a class="menu-link" href="https://khizooo.com">
                                        <div>JavaScript</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="https://khizooo.com">
                                <div>About Me</div>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- Header Links -->
            </div>
        </div>
    </div>
    <div class="header-wrap-clone"></div>
</header>
<!-- HEADER -->

@code {

}

