 <!-- HEADER -->
<header id="header" class="dark header-size-md floating-nft-header" data-sticky-shrink="false">
    <div id="header-wrap" class="border-0">
        <div class="container">
            <div class="header-row top-search-parent Custom-Header">

                <!-- LOGO -->
                <div id="logo" class="me-5">
                    <a href="https://khizooo.com">
                        <img src="img/s-logo.png" alt="khizooo Logo" class="py-3" title="khizooo Logo" loading="lazy" decoding="async" importance="high" crossorigin="anonymous">
                    </a>
                </div>
                <!-- LOGO -->
                <!-- Social Icons & Notifications -->
                <div class="header-misc ms-auto">
                    <div class="header-misc ms-0">

                        <!-- Youtube -->
                        <div class="header-misc-icon">
                            <a href="javascript:void(0);" class="header-icon-notification">
                                <img width="30" height="30" src="SiteIcons/Animated/icon-youtube.gif" alt="Youtube profile of khizooo" title="Youtube profile of khizooo" loading="lazy" decoding="async" importance="high" crossorigin="anonymous">
                            </a>
                        </div>
                        <!-- Youtube -->
                        <!-- Facebook -->
                        <div class="header-misc-icon">
                            <a href="javascript:void(0);" class="header-icon-notification">
                                <img width="25" height="25" src="SiteIcons/Animated/icon-facebook.gif" alt="Facebook profile of khizooo" title="Facebook profile of khizooo" loading="lazy" decoding="async" importance="high" crossorigin="anonymous">
                            </a>
                        </div>
                        <!-- Facebook -->
                        <!-- Instagram -->
                        <div class="header-misc-icon">
                            <a href="javascript:void(0);" class="header-icon-notification">
                                <img width="30" height="30" src="SiteIcons/Animated/icon-instagram.gif" alt="Instagram profile of khizooo" title="Instagram profile of khizooo" loading="lazy" decoding="async" importance="high" crossorigin="anonymous">
                            </a>
                        </div>
                        <!-- Instagram -->
                        <!-- Twitter -->
                        <div class="header-misc-icon">
                            <a href="javascript:void(0);" class="header-icon-notification">
                                <img width="30" height="30" src="SiteIcons/Animated/icon-twitter.gif" alt="Twitter profile of khizooo" title="Twitter profile of khizooo" loading="lazy" decoding="async" importance="high" crossorigin="anonymous">
                            </a>
                        </div>
                        <!-- Twitter -->
                        <!-- Snapchat -->
                        <div class="header-misc-icon">
                            <a href="javascript:void(0);" class="header-icon-notification">
                                <img width="30" height="30" src="SiteIcons/Animated/icon-snapchat.gif" alt="Snapchat profile of khizooo" title="Snapchat profile of khizooo" loading="lazy" decoding="async" importance="high" crossorigin="anonymous">
                            </a>
                        </div>
                        <!-- Snapchat -->
                        <!-- TikTok -->
                        <div class="header-misc-icon">
                            <a href="javascript:void(0);" class="header-icon-notification">
                                <img width="30" height="30" src="SiteIcons/Animated/icon-tiktok.gif" alt="TikTok profile of khizooo" title="TikTok profile of khizooo" loading="lazy" decoding="async" importance="high" crossorigin="anonymous">
                            </a>
                        </div>
                        <!-- TikTok -->
                        <!-- Pinterest -->
                        <div class="header-misc-icon">
                            <a href="javascript:void(0);" class="header-icon-notification">
                                <img width="30" height="30" src="SiteIcons/Animated/icon-pinterest.gif" alt="Pinterest profile of khizooo" title="Pinterest profile of khizooo" loading="lazy" decoding="async" importance="high" crossorigin="anonymous">
                            </a>
                        </div>
                        <!-- Pinterest -->
                        <!-- OpenSea -->
                        <div class="header-misc-icon">
                            <a href="javascript:void(0);" class="header-icon-notification">
                                <img width="30" height="30" src="SiteIcons/Animated/icon-opensea.gif" alt="OpenSea profile of khizooo" title="OpenSea profile of khizooo" loading="lazy" decoding="async" importance="high" crossorigin="anonymous">
                            </a>
                        </div>
                        <!-- OpenSea -->


                    </div>

                </div>
                <!-- Social Icons & Notifications -->
                <!-- Mobile Menu -->
                <div class="primary-menu-trigger">
                    <button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
                        <span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
                    </button>
                </div>
                <!-- Mobile Menu -->
                <!-- Header Links -->
                <nav class="primary-menu with-arrows">
                    <ul class="menu-container">
                        <li class="menu-item current">
                            <a class="menu-link" href="https://khizooo.com">
                                <div class="gradient-text gradient-color">Home</div>
                            </a>
                        </li>
                        <li class="menu-item current">
                            <a class="menu-link" href="https://khizooo.com">
                                <div class="gradient-text gradient-color">Portfolio</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="https://khizooo.com">
                                <div class="gradient-text gradient-color">Art</div>
                            </a>
                        </li>
                        <li class="menu-item sub-menu">
                            <a class="menu-link" href="javascript:void(0);">
                                <div class="gradient-text gradient-color">Tech<i class="sub-menu-indicator fa-solid fa-caret-down gradient-text gradient-color"></i></div>
                            </a>
                            <ul class="sub-menu-container" style="">
                                <li class="menu-item current" style="">
                                    <a class="menu-link" href="https://khizooo.com">
                                        <div class="gradient-text gradient-color">Blockchain</div>
                                    </a>
                                </li>
                                <li class="menu-item" style="">
                                    <a class="menu-link" href="https://khizooo.com">
                                        <div class="gradient-text gradient-color">.NET</div>
                                    </a>
                                </li>
                                <li class="menu-item" style="">
                                    <a class="menu-link" href="https://khizooo.com">
                                        <div class="gradient-text gradient-color">JavaScript</div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a class="menu-link" href="https://khizooo.com">
                                <div class="gradient-text gradient-color">About Me</div>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- Header Links -->
            </div>
        </div>
    </div>
    <div class="header-wrap-clone"></div>
</header>
<!-- HEADER -->

@code {

}

