 <!-- HEADER -->
<nav class="navbar navbar-expand-lg main-nav" id="navbar">
    <div class="container">
        <!-- KhizoOo LOGO -->
        <a class="navbar-brand" href="/" target="_self" title="Logo of the Khizooo Website">
            <img src="logo/OK-Logo.png" class="img-fluid" alt="khizooo Logo" title="khizooo Logo" loading="lazy" decoding="async" importance="high" crossorigin="anonymous">
        </a>
        <!-- KhizoOo LOGO -->
        <!-- Mobile HumBerger -->
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="ti-align-justify"></span>
        </button>
        <!-- Mobile HumBerger -->
        <!-- Header Links -->
        <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav ml-auto">

                <li id="HOME" class="nav-item">
                    <a class="nav-link" href="/" target="_self" title="Landing page of the Khizooo Website">Home</a>
                </li>
                <li id="PORTFOLIO" class="nav-item">
                    <a class="nav-link" href="/MyPorfolio" target="_self" title="Portfolio page of the Khizooo Website">My Portfolio</a>
                </li>
                <li id="ART" class="nav-item">
                    <a class="nav-link" href="/MyArt" target="_self" title="My Art page of the Khizooo Website">Artful Me</a>
                </li>
                <li id="TECH" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/MyTech" id="dropdown01" target="_self" title="My Tech page of the Khizooo Website" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Technologies</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li><a class="dropdown-item" href="/MyTech/Blockchain" target="_self" title="Blockchain blogs of the Khizooo Website">Blockchain</a></li>
                        <li><a class="dropdown-item" href="/MyTech/DotNet" target="_self" title=".NET blogs of the Khizooo Website">.NET</a></li>
                        <li><a class="dropdown-item" href="/MyTech/JavaScript" target="_self" title="JavaScript blogs of the Khizooo Website">JavaScript</a></li>
                    </ul>
                </li>
                <li id="ABOUT" class="nav-item">
                    <a class="nav-link" href="/AboutMe" target="_self" title="About Me page of the Khizooo Website">About Me</a>
                </li>
                <li id="CONTACT" class="nav-item">
                    <a class="nav-link" href="/ContactMe" target="_self" title="Contact Me page of the Khizooo Website">Contact Me</a>
                </li>
            </ul>
        </div>
        <!-- Header Links -->
    </div>
</nav>


@code {

}

