

<!-- HEADER -->
<nav class="navbar navbar-expand-lg main-nav" id="navbar">
    <div class="container">
        <!-- KhizoOo LOGO -->
        <a class="navbar-brand" href="/" target="_self" title="Logo">
            <img src="logo/OK-Logo-S.png" width="200" class="img-fluid" alt="khizooo Logo" title="khizooo Logo" loading="lazy" decoding="async" importance="high" crossorigin="anonymous">
        </a>
        <!-- KhizoOo LOGO -->
        <!-- Mobile HumBerger -->
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="ti-align-justify"></span>
        </button>
        <!-- Mobile HumBerger -->
        <!-- Header Links -->
        <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav ml-auto">

                <li id="HOME" class="nav-item">
                    <a class="nav-link" href="/" target="_self" title="Landing page">Home</a>
                </li>

                <li id="WORKFOLIO" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/MyWorkfolio" id="dropdown01" target="_self" title="My Workfolio page" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Workfolio</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li><a class="dropdown-item" href="/MyWorkFlow/Portfolio" target="_self" title="Technology blogs">Portfolio</a></li>
                        <li><a class="dropdown-item" href="/MyWorkFlow/MyArtfulness" target="_self" title="Code Vault">Artfulness</a></li>
                        <li><a class="dropdown-item" href="/MyWorkFlow/CodeVault" target="_self" title="Code Vault">Code Vault</a></li>

                    </ul>
                </li>

                <li id="INFOGRAPHICS" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/MyInfographics" id="dropdown02" target="_self" title="My Infographics landing page" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Infographics</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown02">
                        <li><a class="dropdown-item" href="/MyInfographics/Technology" target="_self" title="Technology Infographics">Technology</a></li>
                        <li><a class="dropdown-item" href="/MyInfographics/Versus" target="_self" title="Versus Infographics">Versus</a></li>
                        <li><a class="dropdown-item" href="/MyInfographics/TopTen" target="_self" title="Top 10 Infographics">Top 10</a></li>
                    </ul>
                </li>

                <li id="WORDPLAY" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/MyWordplay" id="dropdown03" target="_self" title="My Wordplay landing page" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Wordplay</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" href="/MyWordplay/Technology" target="_self" title="Technology Wordplay">Technology</a></li>
                        <li><a class="dropdown-item" href="/MyWordplay/Versus" target="_self" title="Versus Wordplay">Versus</a></li>
                        <li><a class="dropdown-item" href="/MyWordplay/TopTen" target="_self" title="Top 10 Wordplay">Top 10</a></li>
                        <li><a class="dropdown-item" href="/MyWordplay/StoryTeller" target="_self" title="Story Teller Wordplay">Story Teller</a></li>
                        <li><a class="dropdown-item" href="/MyWordplay/Inspirational" target="_self" title="Inspirational Wordplay">Inspirational</a></li>
                    </ul>
                </li>

                <li id="TOOLBOX" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/MyToolBox" id="dropdown04" target="_self" title="My ToolBox page" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ToolBox</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown04">
                        <li><a class="dropdown-item" href="/MyToolBox/ColorPalettes" target="_self" title="Color Palettes">Color Palettes</a></li>
                        <li><a class="dropdown-item" href="/MyToolBox/Fonts" target="_self" title="Fonts">Fonts</a></li>
                        <li><a class="dropdown-item" href="/MyToolBox/Widgets" target="_self" title="Widgets">Widgets</a></li>
                        <li><a class="dropdown-item" href="/MyToolBox/Extensions" target="_self" title="Extgeension">Extensions</a></li>
                        <li><a class="dropdown-item" href="/MyToolBox/SummaryEngine" target="_self" title="Summary Engine">Summary Engine</a></li>
                        <li><a class="dropdown-item" href="/MyToolBox/HowToGuides" target="_self" title="How to Guides">How to Guides</a></li>
                    </ul>
                </li>

                <li id="ME" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/MeAndMe" id="dropdown05" target="_self" title="About & Contact Us Pagee" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ME</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown05">
                        <li><a class="dropdown-item" href="/AboutMe" target="_self" title="Color Palettes">About Me</a></li>
                        <li><a class="dropdown-item" href="/ContactMe" target="_self" title="Fonts">Contact Me</a></li>
                    </ul>
                </li>
                
            </ul>
        </div>
        <!-- Header Links -->
    </div>
</nav>


@code {
 
}

