<!-- Banner Start -->
<section class="section banner">
    <div class="container">
        <div class="row justify-content-center align-items-center">

            <div class="col-lg-2" style="">
                <ul class="list-unstyled mt-3 mb-5 about-list">
                    <li>- <a href="/MyWorkFlow-Portfolio" target="_self" title="Technology blogs">My Portfolio</a> </li>
                    <li>- <a href="/MyWorkFlow-MyArtfulness" target="_self" title="Code Vault">My Artfulness</a> </li>
                    <li>- <a href="/MyWorkFlow-CodeVault" target="_self" title="My Code Vault">My Code Vault</a> </li>
                    <li>- <a href="/MyWordplay-Technology" target="_self" title="Technology Wordplay">My Technology Infographics</a> </li>
                    <li>- <a href="/MyWordplay-Versus" target="_self" title="Versus Wordplay">My Versus Infographics</a> </li>
                    <li>- <a href="/MyWordplay-TopTen" target="_self" title="Top 10 Wordplay">My Top 10 Infographics</a> </li>
                    <li>- <a href="/MyWordplay" target="_self" title="My Wordplay landing page">My Wordplay</a> </li>
                    <li>- <a href="/MyToolBox" target="_self" title="My ToolBox page">My ToolBox</a> </li>
                    <li>- <a href="/AboutMe" target="_self" title="Color Palettes">About Me</a> </li>
                    <li>- <a href="/ContactMe" target="_self" title="Fonts">Contact Me</a> </li>
                </ul>
            </div>
            <div class="col-lg-6" style="border-right: 0.5px solid #8c7851; border-left: 0.5px solid #8c7851;">
                <h1 class="text-color" tabindex="-1" style="">
                    Khizar Imtiaz <span style="margin-left: 10px; color:#000">| KhizoOo</span>
                </h1>
                <h2 tabindex="-1" style="font-size: 22px; font-family: fantasy; color: #8c7851">
                    By Luck, I am a Programmer <span style="font-size: 30px;font-weight: bolder;">|</span> By Nature, I am an Artist
                </h2>
                <p class="lead mb-4">
                    A programmer who loves everything about emerging technologies & an artist who loves to express emotions through artwork.
                </p>
                <p class="lead mb-4">
                    Explore the perfect blend of art and technology at <a href="/" style="font-weight: bold;">khizooo.com</a>
                </p>
                <p class="lead mb-4">
                    Dive into beautiful artwork, check my portfolio, read interesting technology blogs, find helpful code snippets, and experience the magic of visual learning.
                </p>
                <p class="lead mb-4">
                    In a world brimming with information, we believe in the transformative potential of visual learning. Complex concepts come alive through meticulously crafted infographics that spark curiosity and inspire understanding.
                </p>
                <p class="lead mb-4">
                    Join me on a journey where creativity meets innovation.
                </p>
            </div>

            <div class="col-lg-4" style="">
                <div class="Art-Swiper swiper-container">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="container-general">
                                <div class="gallery-wrap wrap-effect-3">
                                    <div class="item"></div>
                                    <div class="item"></div>
                                    <div class="item"></div>
                                    <div class="item"></div>
                                    <div class="item"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="Tech-Swiper swiper-container">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="container-general">
                                <div class="gallery-wrap wrap-effect-3">
                                    <div class="item"></div>
                                    <div class="item"></div>
                                    <div class="item"></div>
                                    <div class="item"></div>
                                    <div class="item"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="row justify-content-center align-items-center" style="margin-top:60px;text-align:center">
            <div class="col-lg-12">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/KhizoOo" target="_blank"><img class="social-img" src="social-icons/facebook.png" /></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/KhizoOo" target="_blank"><img class="social-img" src="social-icons/instagram.png" /></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/KhizoOo" target="_blank"><img class="social-img" src="social-icons/linkedin.png" /></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/KhizoOo" target="_blank"><img class="social-img" src="social-icons/opensea.png" /></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/KhizoOo" target="_blank"><img class="social-img" src="social-icons/skype.png" /></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/KhizoOo" target="_blank"><img class="social-img" src="social-icons/snapchat.png" /></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/KhizoOo" target="_blank"><img class="social-img" src="social-icons/tiktok.png" /></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/KhizoOo" target="_blank"><img class="social-img" src="social-icons/twitter.png" /></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/KhizoOo" target="_blank"><img class="social-img" src="social-icons/whatsapp.png" /></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/KhizoOo" target="_blank"><img class="social-img" src="social-icons/youtube.png" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Banner End -->



@code {





}



