<!-- Banner Start -->

<section class="section banner pb-lg-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h1>KhizoOo</h1>
                <h2>

                    <span class="txt-rotate text-color"
                          data-period="2000"
                          data-rotate='[ "I am a Programmer & by nature I am an Artist", "A Tech Guy." ]'></span>
                    <br>
                    A Programmer who loves everything about emerging technologies
                    &
                    An Artist who loves to express emotions through artwork & I am utilizing my free time in doing ARTx
                </h2>
            </div>
        </div>
    </div>
</section>
<!-- Banner End -->

@code {





}
