<!-- Banner Start 

<section class="section banner pb-lg-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h1>KhizoOo</h1>
                <h2>

                    <span class="txt-rotate text-color"
                          data-period="2000"
                          data-rotate='[ "I am a Programmer & by nature I am an Artist", "A Tech Guy." ]'></span>
                    <br>
                    A Programmer who loves everything about emerging technologies
                    &
                    An Artist who loves to express emotions through artwork & I am utilizing my free time in doing ARTx
                </h2>
            </div>
        </div>
    </div>
</section> -->
<!-- Banner End -->

<section class="section banner-3">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-7">
                <h1 tabindex="-1" style="display: inline;">
                    Khizar Imtiaz
                </h1>
                <h2 tabindex="-1" style="display: inline;margin-left: 10px;">
                    (KhizoOo)
                </h2>
                <p class="lead mb-4">I am a Programmer & by Nature I am an Artist</p>
                <p class="mb-4">
                    A Programmer who loves everything about emerging technologies
                    &
                    An Artist who loves to express emotions through artwork & I am utilizing my free time in doing ARTx
                </p>
                <img src="images/signature.png" alt="" class="img-fluid">
            </div>

            <div class="col-lg-5">
                <ul class="list-unstyled mt-3 mb-5 about-list">
                    <li>- Web design</li>
                    <li>- Brand Identity</li>
                    <li>- Development & CMS</li>
                    <li>- Phptography</li>
                </ul>
            </div>
        </div>
    </div>
</section>

@code {





}
