@page "/MyArtFulness/{ID:long}/{Slug}"

@inject NavigationManager NavigationManager

@using MySite.Pages.LandingPages
@using MySite.Pages.LandingPages.Swipers
@using MySite.Pages.LandingPages.Listings
@using MySite.Pages.Arts

@using MySite.AppData

<!-- WRAPPER -->
<div id="wrapper" class="noice-effect overflow-hidden">

    <Header />

    <ArtDetail />

    <Footer />

</div>
<!-- WRAPPER -->


@code
{

    [Parameter]
    public long ID { get; set; }

    [Parameter]
    public string Slug { get; set; }

    Art MyArt = null;
    Art MyPreviousArt = null;
    Art MyNextArt = null;

    protected override void OnInitialized()
    {
        long MyPreviousArtID = this.ID - 1;
        long MyNextArtID = this.ID + 1;

        this.MyArt = MyArts.GetMyArt(this.ID, this.Slug);
        this.MyPreviousArt = MyArts.GetMyArt(MyPreviousArtID);
        this.MyNextArt = MyArts.GetMyArt(MyNextArtID);
    }

    private void Navigate()
    {
        NavigationManager.NavigateTo("MyArtFulness");
    }

}