@page "/"

@using MySite.Pages.LandingPages
@using MySite.Pages.LandingPages.Swipers

<!-- WRAPPER -->
<div id="wrapper" class="noice-effect overflow-hidden">

    <Header />

    <Content />

    <Footer />

</div>
<!-- WRAPPER -->