@page "/"

@using MySite.Pages.LandingPages
@using MySite.Pages.LandingPages.Swipers
@using MySite.Pages.LandingPages.Listings

<!-- WRAPPER -->
<div id="wrapper" class="noice-effect overflow-hidden">

    <Header />

    <TopBanner />

    <ArtListing />

    <InfographicListing />

    <Footer />

</div>
<!-- WRAPPER -->


@code {




}

